#parr {
  position: absolute;
}

#parr2 {
  position: absolute;
}

#con {
  position: relative;
}

#parr1 {
  position: absolute;
}

#parr2 {
  position: absolute;
}

#div1 {
  position: absolute;
}

#lab {
  position: absolute;
}

po {
}

#lab2 {
  position: absolute;
}

#tex {
}

#lab3 {
  position: absolute;
}

#bnt {
  position: absolute;
}

#pa1 {
  position: absolute;
}

#pa2 {
  position: absolute;
}

#pa3 {
  position: absolute;
}

#pa4 {
  position: absolute;
}

p {
}

#par11 {
  position: absolute;
}

#par22 {
  position: absolute;
}

#link1 {
  position: absolute;
}

#link2 {
  position: absolute;
}

#link3 {
  position: absolute;
}

#link4 {
  position: absolute;
}

#pa1 {
}

#pas1 {
  position: absolute;
}

#pas2 {
  position: absolute;
}

#imf {
  position: absolute;
}

#png {
  position: absolute;
}

#png2 {
  position: absolute;
}

#png3 {
  position: absolute;
}

