<body>

    <p id="par9" style="color: #404040;font-size: 33px;margin-top: 185px;margin-left: 539px;font-weight: bold;font-family: Poppins, sans-serif;">Why NutriHealth ?</p>
    <div class="container" style="margin-top: 158px;">
        <div class="row" style="width: 1070px;">
            <div class="col-md-6">
                <div><img id="orange" class="orange" src="../../assets/im" style="margin-left: -180px;margin-top: -190px; width: 900px;"></div>
                <div>
                    <div><img id="rectangle" class="rectngle" src="assets/img/Rectangle%203%20(1).png" style="margin-top: -721px;margin-left: -123px;width: 360px;height: 315px;"><img id="medecin" class="medecin" src="assets/img/—Pngtree—medical%20doctor%20medicine%20drug%20hospital_5352024%201%20(1).png" style="margin-top: -1050px;margin-left: -385px;width: 337px;">
                        <p id="par" style="margin-top: -300px;margin-right: 100px;font-family: Poppins, sans-serif;color: #884400;width: 340px;font-size: 24px;margin-left: -100px;">Quick access to your doctor</p>
                        <p id="par2" style="font-size: 28px;color: #884400;font-family: Poppins, sans-serif;font-weight: bold;margin-left: 0px;margin-top: -140px;width: 163px;height: 29px;">Simplicity</p>
                    </div>
                    <div><img id="rectangle2" class="rectangle2" src="assets/img/Rectangle%204.png" style="width: 360px;height: 315px;margin-top: -720px;margin-left: 372px;"><img id="cal" class="cal" src="assets/img/—Pngtree—calendar%20time%20monthly%20calendar%20chart_5324170%201%20(1).png" style="margin-top: -1000px;margin-left: 392px;width: 337px;">
                        <p id="par3" style="margin-top: -397px;margin-left: 494px;width: 163px;height: 29px;font-size: 28px;font-weight: bold;font-family: Poppins, sans-serif;color: #884400;">Flexibility</p>
                        <p id="par4" style="margin-top: 40px;color: #884400;font-size: 24px;margin-left: 380px;width: 350px;">Make an&nbsp; appointement online&nbsp;&nbsp;</p>
                        <p id="par6" style="margin-top: -10px;color: #884400;font-size: 24px;margin-left: 392px;">at any time</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="width: 418px;margin-left: 64px;">
                <div style="width: 632px;"><img id="img" src="assets/img/Ellipse%201%20(1).png" style="width: 414px;margin-top: 60px;margin-left: 400px;"><img id="rectangle5" class="rectangle5" src="assets/img/Rectangle%205%20(1).png" style="margin-top: -610px;margin-left: 430px;width: 360px;"><img id="notif" class="notif" src="assets/img/Notification-bell-icon-new-message-bell-Premium-vector-PNG%201%20(1).png" style="width: 307px;height: 304px;margin-top: -898px;margin-left: 430px;">
                    <p id="par7" style="margin-top: -340px;font-size: 28px;font-family: Poppins, sans-serif;color: #884400;font-weight: bold;margin-left: 530px;">Tracking</p>
                    <p id="par8" style="width: 302.656px;font-size: 24px;color: #884400;margin-top: 20px;margin-left: 474px;">Recive personnalized sms/ email reminders</p><img id="eslips" src="assets/img/Ellipse%2015%20(1).png" style="margin-left: 200px;margin-top: -680px;width: 60px;"><img src="assets/img/Ellipse%2014%20(1).png" style="margin-left: -130px;width: 84px;margin-top: 54px;filter: blur(0px);">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div><img src="assets/img/—Pngtree—mobile%20phone%20model%202%205d_3919693%201%20(1).png" style="margin-left: -170px;margin-top: 100px;"></div>
            </div>
            <div class="col-md-6">
                <div>
                    <p id="parf1" style="font-size: 36px;font-family: Poppins, sans-serif;color: #404040;font-weight: bold;margin-top: 140px;margin-left: 254px;">Degital</p>
                    <p id="parf3" style="margin-top: 50px;color: #FFD163;font-size: 32px;font-family: Poppins, sans-serif;margin-left: 114px;">Say&nbsp; goodby to paper !</p>
                    <p id="parf2" style="margin-top: 10px;width: 500.953px;color: #404040;font-size: 30px;margin-left: 40px;">" I want to digitize records and move&nbsp; &nbsp; &nbsp; &nbsp; to an electronic patient record."</p>
                    <img src="assets/img/Ellipse%2015%20(1).png" style="margin-top: 230px;margin-left: 397px;width: 79px;">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="height: 349px;">
                <div>
                    <p id="parff1" style="font-size: 36px;color: #404040;font-weight: bold;font-family: Poppins, sans-serif;margin-left: 237px;margin-top: 166px;">Practical</p>
                    <p id="parff3" style="margin-top: 22px;font-size: 32px;color: #FFD163;font-family: Poppins, sans-serif;margin-left: 100px;">Collaborative and efficient</p>
                    <p id="parff2" style="margin-top: 50px;color: #404040;font-size: 26px;margin-left: 24px;width: 575.23px;font-family: Poppins, sans-serif;position: absolute;">"I need to quickly access the information I&nbsp; &nbsp; &nbsp; &nbsp;need and easily share it within the firm."</p><img src="assets/img/Ellipse%2015%20(1).png" style="margin-top: -300px;margin-left: -100px;width: 95px;position: absolute;">
                </div>
            </div>
            <div class="col-md-6">
                <div><img src="assets/img/hand-shake-hands-partnership-friends-welcome-handshake-vector-flat-cartoon-illustration-isolated_101884-890%201%20(1)%20(1).png" style="margin-top: 26px;margin-left: 300px;"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="height: 651px;">
                <div>
                    <p id="parfff1" style="font-family: Poppins, sans-serif;font-weight: bold;margin-top: 140px;margin-left: 396px;font-size: 36px;">About As</p>
                    <p id="parfff2" style="font-size: 29px;margin-top: 40px;margin-left: 264px;width: 500px; font-family: Poppins, sans-serif;">Resume about our campany</p>
                    <p id="parff3" style="width: 604.22px;font-size: 22px;font-family: Poppins, sans-serif;margin-top: 100px;margin-left: -22px;">We are campany engaged in the field food services with a very wide range&nbsp; throughout indonesia. We work closely with more then 500+&nbsp; restaurant&nbsp; in indounesia.</p><button class="btn btn-primary shadow" data-bss-hover-animate="pulse" type="button" style="margin-top: 100px;background: #FFD163;border-color: transparent;width: 137.5px;height: 50px;font-size: 18px;font-family: Poppins, sans-serif;">Read more</button>
                </div>
            </div>
            <div class="col-md-6">
                <div><img src="assets/img/Group%203%20(1).png" style="margin-top: 143px;margin-left: 270px;"></div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    </body>
